<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.malonetalk.mapper.TableInfoMapper">

    <resultMap id="BaseResultMap" type="io.github.malonetalk.entity.TableInfo">
        <id column="id" property="id"/>
        <result column="table_name" property="tableName"/>
        <result column="table_description" property="tableDescription"/>
        <result column="domain" property="domain"/>
        <result column="datasource_id" property="datasourceId"/>
        <result column="is_visible" property="isVisible"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectByDatasourceId" resultMap="BaseResultMap">
        SELECT * FROM table_info
        WHERE datasource_id = #{datasourceId}
        ORDER BY table_name ASC, id ASC
    </select>

    <select id="selectPageByDatasourceId" resultMap="BaseResultMap">
        SELECT * FROM table_info
        WHERE datasource_id = #{datasourceId}
        <if test="keyword != null and keyword != ''">
            AND LOWER(table_name) LIKE CONCAT('%', LOWER(#{keyword}), '%')
        </if>
        <choose>
            <when test="sortDescending">
                ORDER BY table_name DESC, id DESC
            </when>
            <otherwise>
                ORDER BY table_name ASC, id ASC
            </otherwise>
        </choose>
    </select>

    <select id="selectByDatasourceIdAndTableName" resultMap="BaseResultMap">
        SELECT * FROM table_info
        WHERE datasource_id = #{datasourceId}
          AND LOWER(table_name) = LOWER(#{tableName})
        ORDER BY update_time DESC, create_time DESC, id DESC
        LIMIT 1
    </select>

    <insert id="insert" parameterType="io.github.malonetalk.entity.TableInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO table_info (
            table_name, table_description, domain, datasource_id, is_visible,
            create_time, update_time
        ) VALUES (
            #{tableName}, #{tableDescription}, #{domain}, #{datasourceId}, #{isVisible},
            #{createTime}, #{updateTime}
        )
    </insert>

    <update id="update" parameterType="io.github.malonetalk.entity.TableInfo">
        UPDATE table_info
        <set>
            <if test="tableName != null">table_name = #{tableName},</if>
            table_description = #{tableDescription},
            domain = #{domain},
            <if test="datasourceId != null">datasource_id = #{datasourceId},</if>
            <if test="isVisible != null">is_visible = #{isVisible},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteByDatasourceIdAndIds">
        DELETE FROM table_info
        WHERE datasource_id = #{datasourceId}
          AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
